/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
body #hystrix-content{
    line-height:1;
}

#hystrix-content nav #hystrix-content ul {
    list-style:none;
}

#hystrix-content blockquote, #hystrix-content q {
    quotes:none;
}

#hystrix-content blockquote:before, #hystrix-content blockquote:after,
#hystrix-content q:before, #hystrix-content q:after {
    content:'';
    content:none;
}

#hystrix-content a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
#hystrix-content ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
#hystrix-content mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

#hystrix-content del {
    text-decoration: line-through;
}

#hystrix-content abbr[title], #hystrix-content dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

#hystrix-content table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
#hystrix-content hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

#hystrix-content input, #hystrix-content select {
    vertical-align:middle;
}